* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
}
li {
  list-style: none;
}
.toast-aria {
  width: 70%;
  margin-left: 117px;
  margin-top: -40px;
}
.toast_text {
  margin-left: 15px;
}
@media (max-width: 992px) {
  .toast-aria {
    width: 210px;
    margin-left: 0px;
    margin-top: 10px;
  }
}
section .pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(178, 178, 178, 0.3);
    transition: 0.3s;
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }
}
.hot {
  background-color: red;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  top: -3%;
  position: absolute;
}
